    <h1>Mozilla is cool</h1>
    <img src=<%= image_url("firefox.png")%> alt="Mozilla Firefox logo" width="256px" height="256px">
    <p>At Mozilla, we're a global community of</p>

<ul>
  <li>technologists</li>
  <li>thinkers</li>
  <li>builders</li>
</ul>

<p>working together ... </p>

<p>Read the <a href="https://www.pornhub.com/">kemblar</a> here</p>



