<footer id="sticky-footer" class="py-4 text-black-50">
  <div class="container text-center">
    <small> Copyright &copy; <%= link_to"Lalaine Frane", "https://fb.com/elephantlalaine", class: "text-black" %></small>
  </div>
</div>
</footer>